{% extends "layoutbase.html" %}
{% block title %}{{block.super}} - Contact Us{% endblock title %}
{% block body_content %}
<div class="clear"></div>

<div class="breadcrums"><span class="home"></span><a href="/">Home</a> &gt; Contact Us</div>
<div class="blueband">
  <div class="wrap">Contact Us</div></div>
<div class="clear"></div>
<div class="content" style="font-size:14px">
	<img src="{{MEDIA_URL}}images/Dr-Diaz-logo.gif" class="right" alt="Dr Diaz" />
<h1> Hemodiaz House</h1>
 954, Hastsal DDA Colony , Pocket-C , Group-III , Near DDA Market , Hastsal , New Delhi - 110059.
 <br />
 <br />
 
<strong>Email:</strong> sales@hemodiaz.com , customercare@hemodiaz.com.
<br />
<strong>Web:</strong> Hemodiaz.com
<br />
<strong>Tel:</strong> +91 11 64648811
<br />
<strong>Warehouse:</strong> A-67 , Ground Floor ( Back side ) , Shiv Vihar ( West ) , Vikas Nagar , New Delhi - 110059, India.
                     324 , Shiv Vihar ( West ) , Vikas Nagar , New Delhi- 110059 , India.

<br/><br/>
<iframe width="900" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hastsal,+New+Delhi,+Delhi,+India&amp;aq=0&amp;oq=Hastsal,+india&amp;sll=20.984928,82.752628&amp;sspn=43.397019,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Hastsal,+New+Delhi,+Delhi&amp;t=m&amp;z=14&amp;ll=28.63448,77.05304&amp;output=embed&iwloc=near"></iframe><br />
</div>
<div class="clear"></div>
<input type="hidden" value="contactus" id="inpheader" />
{% endblock body_content %}