<div class="header">
<div class="wrap">
    <a href="{%url index%}"><strong></strong></a>
<ul class="lavaLampWithImage" id="lavamp">
    <li id="home" class="mleft active head"><a href="{%url index%}">Home</a></li>
    <li id="Product" class="mleft head"><a href="{%url website.views.show_category%}">Product</a></li>
    <li id="aboutus" class="mleft head"><a href="{%url website.views.show_aboutus%}">About us</a></li>
    <li id="management" class="mleft head"><a href="{%url website.views.management%}">Management</a></li>
    <li id="accrediation" class="mleft head"><a href="{%url accrediation%}">Accreditation</a></li>
    <li id="contactus" class="mleft head"><a href="{%url contactus%}">Contact us</a></li></ul>
</div>
</div>
