{% extends "layoutbase.html" %}
{% block title %}{{block.super}} - Management{% endblock title %}
{% block body_content %}
<div class="clear"></div>

<div class="breadcrums"><span class="home"></span><a href="/">Home</a> &gt; Management</div>
<div class="blueband"><div class="wrap">Management</div></div>
<div class="content">

<div class="profile">
 
<div class="profilepic"><img src="{{MEDIA_URL}}images/management/ashish.jpg" alt="" /></div>
<span class="spn"> 
<strong>Ashish Dhawan</strong>
<span class="left">Director</span> 
</span>
<p>
    <span><a href="mailto:ashish.dhawan@hemodiaz.com"><img src="{{MEDIA_URL}}images/mail.gif" width="17" height="11" alt="" />ashish.dhawan@hemodiaz.com</a></span>
<span><img src="{{MEDIA_URL}}images/mobile.gif" width="10" height="10" alt="" />8588868641</span>
<br/><br/>
Ashish Dhawan is an enthusiastic professional, coming from a strong business family dealing in petrochemical products since 1995.

He is a young entrepreneur and is currently leading Hemodiaz Lifesciences (P) Ltd. as a Director. He is incharge of Finance,
Principal Management and Logistics.

Also, he is looking after the implementation of Growth Plan and R&D.

Under the dynamic leadership of Mr. Ashish Dhawan, company is confident about its future and has planned its expansions with

strategic prudence. His current priority is to build a brand centred strategy at Hemodiaz Lifesciences with the objective of achieving

its vision of being one of the world's leading company for diagnostics & home health products.

Besides his professional deliberations, he is a funloving personality having fervent interest in areas like sports and music. </p>

<div class="clear"></div>


</div>
<div class="profile">
 
<div class="profilepic"><img src="{{MEDIA_URL}}images/management/HM_n.jpg"  alt="" /></div>
<span class="spn"> 
<strong>Harmohinder Singh</strong>
<span class="left">CEO</span> 
</span>
<p>
    
<span><a href="mailto:hm.singh@hemodiaz.com"><img src="{{MEDIA_URL}}images/mail.gif" width="17" height="11" alt="" />hm.singh@hemodiaz.com</a></span>
<span><img src="{{MEDIA_URL}}images/mobile.gif" width="10" height="10" alt="" />8588868647</span>
<br/><br/>
Harmohinder Singh has an extensive experience of 27 years in Invitro Diagnostics.
As the CEO of Hemodiaz, he leads Invitro Diagnostics, Patient Care, Home Health Care and Pulmonary Care business areas.
Before joining Hemodiaz, he has been a valued member of the leading corporates: Johnson & Johnson, Ranbaxy, Dr. Reddys Labs, Bharat Serums, Zydus Cadila, TransAsia and Nectar Lifesciences.
Harmohinder holds a bachelor's degree in Science from Jammu University.
Comprehensive understanding of Invitro Diagnostics and team building skills are few of his key strengths.</p>

<div class="clear"></div>


</div>



<div class="profile">
 
<div class="profilepic"><img src="{{MEDIA_URL}}images/management/Ravish.jpg"  alt="" /></div>
<span class="spn"> 
<strong>Ravish Mehta</strong>
<span class="left">A.G.M</span>
</span>
<p>
 <span><a href="mailto:ravish.mehta@hemodiaz.com"><img src="{{MEDIA_URL}}images/mail.gif" width="17" height="11" alt="" />ravish.mehta@hemodiaz.com</a></span>
<span><img src="{{MEDIA_URL}}images/mobile.gif" width="10" height="10" alt="" />8588868643</span>
<br/><br/>

Ravish Mehta started his career in 1995 and is currently heading Sales and
Marketing functions as an A.G.M. at Hemodiaz.

In his career, Ravish has worked with leading companies such as Dr Reddys
Laboratories, Biorad Laboratories USA, TransAsia, Trivitron Healthcare and
Nectar Lifesciences.

He is a Post-Graduate in Marketing and Sales Management and a Graduate of
Microbiology having a total experience of 17 years in Invitro- Diagnostics market.

Ravish has perfervid interest in sports and is a huge fan of bollywood movies.</p>

<div class="clear"></div>


</div>






</div>
<input type="hidden" value="management" id="inpheader" />
{%endblock body_content%}